    
<div id="fondo" class="center-block" style="width:100%x" align ="center" >
    &nbsp
    <div class="s-holder">
        <b><h2 style="color:white">Agregar Habitacións</h2></b>
        <div class="row" style="width:400px" ng-controller = 'MainController'>
            <form novalidate name="form" id="agregarVivienda-form" role="form" ng-submit="form.$valid && agregarHabitacion()">
                <fieldset>
                    <div>
                        <section>
                            <div class="form-group">
                                <label style="color:white" for="class">Capacidad:</label>
                                <input type="text" class="form-control" ng-model="tempHabitacion.capacidad" ng-init="tempHabitacion.capacidad" placeholder="$$$" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                            </div>
                        </section>
                    </div>
                    <div>
                        <section>
                            <div class="form-group">
                                <label style="color:white" for="class">Área de la habitación:</label>
                                <input type="text" class="form-control" ng-model="tempHabitacion" ng-init="tempVivienda.anfitrion.id" placeholder="Id" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                            </div>
                        </section>
                    </div>
                    
                    <div>
                        <div class="form-group">
                            <label style="color:white" for="from">Descripción</label>
                            <input type="text" class="form-control" ng-model="tempVivienda.ciudad" ng-init="tempVivienda.ciudad" placeholder="Ciudad"/>
                        </div>
                    </div>
                    
                    
                        <section>
                            <div class="form-group">
                                <label style="color:white" for="class">Capacidad de la vivienda (personas):</label>
                                <input type="text" class="form-control" ng-model="tempVivienda.capacidad" ng-init="tempVivienda.capacidad" placeholder="0" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                            </div>
                        </section>
                    </div>
                    
                    <div>

                    &nbsp
                </fieldset>
                <div>
                    <p><a type="submit" class="btn btn-default btn-lg" href ng-click = "agregar()">Agregar</a></p>
                </div>
        </div>
    </div>
</div>
