<!DOCTYPE html>    
<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
        <form novalidate name="form" id="registro-form" role="form" ng-submit="form.$valid && registrar()">
            
            <fieldset>
                <div class="form-group">
                    <label for="idUser"><span class="glyphicon glyphicon-eye-open"></span> Identificación</label>
                    <input type="text" class="form-control" ng-model ="tempUser.numeroID" ng-init ="tempUser.numeroID" placeholder="Enter Id">
                </div>
                <div class="form-group">
                    <label for="tipoId"><span class="glyphicon glyphicon-eye-open"></span> TipoId</label>
                    Seleccione un tipo de ID:
                    <select class = "form-control" ng-model = "tempUser.tipoID" ng-init ="tempUser.tipoID" >
                        <option value="">
                        <option value="CC">C.C.
                        <option value="TI">T.I.
                        <option value="IDExtranjera">Id.Extranjera
                    </select>
                </div>
                <div class="form-group">
                    <label for="name"><span class="glyphicon glyphicon-user"></span> Nombre</label>
                    <input type="text" class="form-control" ng-model="tempUser.nombre" ng-init ="tempUser.nombre" placeholder="Ingrese su nombre">
                </div>
                <div class="form-group">
                    <label for="usrname"><span class="glyphicon glyphicon-user"></span> Username</label>
                    <input type="text" class="form-control" ng-model="tempUser.usuario" ng-init ="tempUser.usuario" placeholder="Ingrese Username">
                </div>
                <div class="form-group">
                    <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
                    <input type="password" class="form-control" ng-model="tempUser.contrasenha" ng-init ="tempUser.contrasenha" placeholder="Ingrese password">
                </div>
                <div class="form-group">
                    <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Confirmar Password</label>
                    <input type="password" class="form-control" ng-model="psw2"  placeholder="Ingrese nuevamente password">
                </div>
                <div class="form-group">
                    <label for="email"><span class="glyphicon glyphicon-user"></span> Email</label>
                    <input type="text" class="form-control" ng-model="tempUser.correo" ng-init ="tempUser.correo" placeholder="Ingrese email">
                </div>
                <div class="form-group">
                    <label for="genra"><span class="glyphicon glyphicon-eye-open"></span> Genero</label>
                    Seleccione un genero
                    <select class = "form-control" id = "genero">
                        <option value="">
                        <option value="Femenino">Femenino
                        <option value="Masculino">Masculino
                        <option value="Nose">No se
                    </select>
                </div>
                <div class="form-group">
                    <label for="address"><span class="glyphicon glyphicon-user"></span> Dirección</label>
                    <input type="text" class="form-control" ng-model="tempUser.direccion" ng-init ="tempUser.direccion" placeholder="Ingrese direccion">
                </div>
                <div class="form-group">
                    <label for="telephone"><span class="glyphicon glyphicon-user"></span> Telefono</label>
                    <input type="number" class="form-control" ng-model="tempUser.telefono" ng-init ="tempUser.telefono"placeholder="Ingrese Telefono">
                </div>
                <div class="form-group">
                    <label for="Number"><span class="glyphicon glyphicon-user"></span> Número Tarjeta</label>
                    <input type="number" class="form-control" ng-model="tempUser.numeroTarjeta" ng-init ="tempUser.numeroTarjeta" placeholder="Ingrese numero Tarjeta">
                </div>
                <div class="form-group">
                    <label for="url"><span class="glyphicon glyphicon-user"></span> Seleccione una imagen para subir</label>
                    <input type="file" ng-model="myFile" size="50">
                </div>
            </fieldset>
            <button type="submit" class="btn btn-success btn-block" href ng-click = "agregar()"><span class="glyphicon glyphicon-off"></span> Registrarse</button>
            
        </form>
    </div>
</div>
